$text: rgba(44, 62, 80, 1);
$text-active: rgba(66, 185, 131, 1);
$bg-light: rgba(253, 253, 253, 1);
$green-light: rgba(0, 188, 119, 1);
$grey-light: rgba(223, 230, 237, 1);
$border-grey: rgba(204, 204, 204, 1);
$purple: rgba(82, 86, 236, 1);

$black: rgba(2, 2, 3, 1);
$white: rgba(255, 255, 255, 1);
